In [1]:
userInput = '' 
while userInput.lower() != 'done':
    userInput = input('Enter a new value or done when done')

In [7]:
#Creamos la varibale que alamacena el texto
userInput = ''
#Creamos la lista que almacena cada unos de los taxtos que el usuario ingresa
inputs=[]

#ciclo while
while userInput.lower() != 'done':
    #verificamos si hay un valor en user_input
    if userInput:
        #almacenamos el valor en la lista
        inputs.append(userInput)
        #capturamos un nuevo valor
    userInput = input('Enter a new value or done when done')

In [3]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [4]:
print("The first planet is ", planets[0])
print("The second planet is ", planets[1])
print("The third planet is ", planets[2])

The first planet is  Mercury
The second planet is  Venus
The third planet is  Earth

In [5]:
countdown = [4, 3, 2, 1, 0]
for number in countdown:
    print(number)
print("Blast off!! ")

4
3
2
1
0
Blast off!!

In [6]:
from time import sleep

countdown = [4,3,2,1,0]

for number in countdown:
    print(number)

    sleep(1)

print("blase off!!")

4
3
2
1
0
blase off!!

In [59]:
planet = {
    'name': 'Earth',
    'moon': 1
}
print(planet.get('name'))

Earth

In [45]:
print(planet['name'])

Earth

In [46]:
planet.update({'name':'makemake'})

In [47]:
planet['name'] = 'makemake'

In [70]:
planet.update({
    'name':'Jupiter',
    'moons': 79
})
#planet['name'] = 'Jupiter'
#planet['moons'] = 79

In [49]:
planet['orbital period'] = 4333
# el diccionario planet ahora contiene: {
#   name: 'jupiter'
#   moons: 79
#   orbital period: 4333
# }

In [50]:
planet.pop('orbital period')

# el diccionario planet ahora contiene: {
#   name: 'jupiter'
#   moons: 79
# }

4333

In [69]:
# Añadimos los datos
planet['diameter (km)'] = {
    'polar': 133709,
    'equatorial': 142984
}

# el diccionario planet ahora contiene: {
#   name: 'Jupiter'
#   moons: 79
#   diameter (km): {
#      polar: 133709
#      equatorial: 142984
#   }
# }

In [74]:
print(planet['name'],"polar diameter:", planet['diameter (km)']['polar'])

# Salida: Jupiter polar diameter: 133709

Jupiter polar diameter: 133709

In [56]:
rainfall = {
    'october':3.5,
    'november': 4.2,
    'december': 2.1
}

In [57]:
for key in rainfall.keys():
    print(f'{key}: {rainfall[key]}cm')

october: 3.5cm
november: 4.2cm
december: 2.1cm

In [66]:
# El valor de december: 2.1cm

# Si, 'december' existe en rainfall
if 'december' in rainfall:
    # rainfall [en la posición december] es igual a
    # rainfall [en la posición december] + 1 (2.1+1)
    rainfall['december'] = rainfall['december'] + 1
    print(rainfall['december'])

# Si no:
else:
    # rainfall [en la posición december] es igual a 1
    rainfall['december'] = 1
    print(rainfall['december'])

# Como december si existe, el valor será 3.1

7.1

In [67]:
#Total de precipitaciones 0
total_rainfall = 0

# Para cada valor en los valores de rainfall
for value in rainfall.values():
    
    # El total de las precipitaciones será igual a ese mismo + el valor que se está iterando

    total_rainfall = total_rainfall + value

# Muestra 'Hay un total de precipitaciones (el valor total) en centímetros en el último cuarto (haciendo referencia al cuarto del año)

print(f'There was {total_rainfall}cm in the last quarter')

# Salida:
# There was 10.8cm in the last quarter

There was 14.8cm in the last quarter

In [80]:
def rocketParts():
     return 'payload, propellant, structure'

In [81]:
rocketParts()

'payload, propellant, structure'

In [82]:
output = rocketParts()

In [83]:
output is None

False

In [86]:
any([True, False, False])
any([True, False, False])

True

In [87]:
any()

TypeError: any() takes exactly one argument (0 given)

In [88]:
str(15)

'15'

In [92]:
def distanceFromEarth(distanation):
    if distanation == 'Moon':
        return '238,855'
    else:
        return 'Unable to compute to that destination'

In [93]:
distanceFromEarth('Moon')

'238,855'

In [94]:
distanceFromEarth('Saturn')

'Unable to compute to that destination'

In [96]:
def daysToCOmplete(distance, speed):
    hours = distance/speed
    return hours/24

In [97]:
daysToCOmplete(238855, 75)

132.69722222222222

In [99]:
round(daysToCOmplete(238855, 75))

133

In [101]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime('Arrival: %A %H:%M')

In [102]:
arrival_time()

'Arrival: Friday 18:22'

In [105]:
arrival_time(hours=0)

'Arrival: Wednesday 15:26'

In [109]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f'{destination} Arrival: %A %H:%M')

In [110]:
arrival_time('Moon')

'Moon Arrival: Friday 18:28'

In [111]:
arrival_time('orbit', hours=0.13)

'orbit Arrival: Wednesday 15:39'

In [114]:
def variableLenght(*args):
    print(args)

In [115]:
variableLenght('one', 'two')

('one', 'two')

In [123]:
def sequenceTime(*args):
    totalMinutes = sum(args)
    if totalMinutes < 60:
        return f'total time to lauch is {totalMinutes} minutes'
    else:
        return f'time to launch is {totalMinutes/60} hours'

In [124]:
#sequenceTime(4, 14, 18)
sequenceTime(4, 14, 48)

'time to launch is 1.1 hours'

In [125]:
def variableLenght(**kwargs):
    print(kwargs)

variableLenght(tanks=1, day='Wendnesday', pilots = 3)

{'tanks': 1, 'day': 'Wendnesday', 'pilots': 3}

In [126]:
def crew_members(**kwargs):
    print(f'{len(kwargs)} astronauts assigned for this mission:')
    for title, name in kwargs.items():
        print(f'{title}: {name}')

In [127]:
crew_members(captian='Ximena', pilot = 'Moises', commandPIlot = 'Mich')

3 astronauts assigned for this mission:
captian: Ximena
pilot: Moises
commandPIlot: Mich